@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.font-playfair{
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.gradient-bg{
  background-color: #a9c9ff44;
  background-image: linear-gradient(180deg, #a9c9ff10 0%, #ffbbec0c 100%);
}
.img-bg{
  background-image: url(https://www.mashed.com/img/gallery/the-best-new-fast-food-menu-items-weve-tried-in-2023-so-far/l-intro-1682446897.jpg);
  background-position: center;
  background-size: cover;
}
